* {
  margin: 0%;
  padding: 0%;
  font-family:helvetica,"Segoe UI",Arial,sans-serif;
  box-sizing: border-box;
}
body {
  width: 63%;
  
  margin: auto;
  background: #e3e6e3;
  font-family:helvetica,"Segoe UI",Arial,sans-serif;
  color: #222;
  font-size: 14px;
  line-height: 1.5;
  margin-top: 3px;
}
.container {
  color: #fff;
  height: 273px;
  align-content: center;
  background: linear-gradient(93.43deg, #000 18.93%, #777 92.72%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}
.container > div > * {
  margin-top: 20px;
}
.container > div:first-child {
  margin: 5px 30px;
}
.container > div:last-child {
  text-align: center;
}
.container > div:last-child img {
  width: 272px;
  height: 204px;
}
.container > div > div:last-child {
  background: #009270;
  border-radius: 2px;
  font-size: 14px;
  padding: 5px 30px;
  display: inline-block;
  margin-top: 10px;
  cursor: pointer;
}
img {
  border-radius: 4px;
}
h2 {
  font-size: 24px;
  margin: 0;
  line-height: 30px;
}

h2 {
  font-size: 24px;
  margin: 0;
  line-height: 30px;
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h1 {
    font-size: 36px;
    line-height: 42px;
    margin: 0;
}
.cricPlus{
    background-color: #fff;
}
.cricPlus h1{
    font-size: 24px;
    margin: 0px 0px 5px 10px;
}

.cricPlus>div:first-child>div{
    font-size: 14px;
    display: flex;
    margin: 15px 0px 5px 0px;
}
.cricPlus>div>div>p{
    margin-left: 10px;
   
}
.cricPlus>div>div>p:hover{
  color: #009270;
  border-bottom: 2px solid #009270;
  padding-bottom: 5px;
  font-weight: 600;
}
#filter-option{
    padding: 20px 20px 0px;
    display: flex;
    

}
#filter-option>p{
  margin-right: 15px;
  font-weight: 400;
}
#filter-option>p:hover{
  background-color: #004c3a;
  color: #fff;
  cursor: pointer;
}
.cricPlus>div>p{
    border-radius: 20px;
    background-color: #CFE0DB;
    padding: 5px 20px;
}


/* prime content css */
#content{
  width: 100%;
  padding: 10px 3px 15px 4px;
}
#content>div{
  width: 97%;
  margin: auto;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.26);
  padding: 0%;
  margin: 15px 12px;
  display: flex;
}

#content>div>div>img{
 height: 100%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
a{
  text-decoration: none;
  color: black ;
}

.pr_card_content{
  margin-left: 10px;
  padding: 25px 20px 20px 15px;
}

.pr_card_content>p{
  color: #666;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
}
.pr_card_title{
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #222;
    padding-bottom: 5px;
    display: block;
}
.pr_card_title+a{
  color: #666;
  display: inline;
  padding-bottom: 5px;
}
