body{
    background: #e3e6e3;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}
#loginPage{
    max-width: 980px;
    margin:0 auto;
}
#top{
    height: 48px;
    background-color: #009270;
}
#logo{
    padding:10px 18px 0px 20px;
}
#topStrip{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 0.5px solid rgb(220, 218, 218);
}
#topStrip img{
    padding: 10px;
}
#topStrip>div:first-child{
    padding: 15px;
}
#home{
    text-decoration: none;
    color: black;
}
#Acc{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
p{
    color: rgb(106, 105, 105);
}
#t_c,#Privacy{
    text-decoration: none;
    color: blue;
}
#loginContent{
    height: 650px;
    background-color: #fff;
}
#loginContent>div{
    width:45%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
#loginContent>div>h2,#loginContent>div>h3{
    margin-bottom: -30px;
    font-size: 24px;
}
#mail{
    border-bottom: 1px solid black;
    width: 75%;
    margin:auto;
    text-align: left;
}
input[type="email"]{
    border: none;
    margin-top: 40px;
    width: 90%;
}
input[type="email"]:focus{
    outline:none;
}
input[type="submit"]{
    padding: 8px;
    width: 75%;
    margin-top: 30px;
    background-color: #71cab6;
    color: white;
    border-radius: 4px;
    border:none;
}
input[type="submit"]:hover{
    background-color: #009270;;
}
#aftermail{
    margin-top: 70px;
    font-size: 12px;
}