body{
    background: #e3e6e3;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    color: #222;
    font-size: 14px;
    line-height: 1.5;
}
#loginPage{
    max-width: 980px;
    margin:0 auto;
}
#top{
    height: 48px;
    background-color: #009270;
}
#logo{
    padding:7px 20px;
}
#topStrip{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 0.5px solid rgb(220, 218, 218);
}
#topStrip img{
    padding: 10px;
}
#topStrip>div:first-child{
    padding: 15px;
}
#home{
    text-decoration: none;
    color: black;
}
#Acc{
    text-decoration: none;
    font-weight: 700;
    color: black;
}
p{
    color: rgb(106, 105, 105);
}
#loginContent{
    height: 650px;
    background-color: #fff;
}
#loginContent>div{
    width:45%;
    margin:auto;
    text-align: center;
    padding-top: 50px;
}
#loginContent>div>h3{
    margin-bottom: -30px;
    font-size: 16px;
}
#req_otp{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}
#digit_1,#digit_2,#digit_3,#digit_4,#digit_5,#digit_6{
    border: 1px solid #ddd;
    width:32px;
    padding: 4px;
    height: 31px;
    text-align: center;
}
#req_otp>input::-webkit-inner-spin-button,#req_otp>input::-webkit-inner-spin-button{
    -webkit-appearance: none;
}
#req_otp>input:focus{
    outline: none;
}
#resend{
    display: block ;
    margin-top: 30px;
    color: #3a84df;
    cursor: pointer;
}
input[type="submit"]{
    padding: 8px;
    width: 75%;
    margin-top: 30px;
    background-color: #71cab6;
    color: white;
    border-radius: 4px;
    border:none;
}
input[type="submit"]:hover{
    background-color: #009270;;
}
#lastLine{
    text-align: center;
    color: #3a84df;
    margin-top: 200px;
    cursor: pointer;
}