/* HEADER STYLING */
*{
    rgb(227,230,227)    
}
#top {
  display: flex;
  height: 48px;
  margin-top: 5px;
  background-color: #009270;
  justify-content: space-between;
  align-items: baseline;
}
#logo {
  padding: 10px 18px 0px 20px;
}
#container{
  max-width: 980px;
  margin: 0 auto;
}
#viewplanbtn{
  max-height: 44px;
  margin: auto;
  margin-right: 20px;
  border-radius: 22px;
  border: none;
  padding: 8px;
  padding-inline: 20px;
  color: grey;
  font-size: 14px;
}

/* BANNER STYLING STARTS HERE */
#planbanner{
    border: 1ps solid red;
    margin-top: 3px;
    height: 440px;
    background-image: linear-gradient(rgb(2,165,127), rgb(20,203,205));
    color: white;
    display: flex;
    justify-content: space-between;
}
#planbanner img{
    width: 401px;
    height: 301px;
    align-self: center;
    margin-right: 50px;
}
#plandetails{
    margin-top: 90px;
    margin-left: 45px;
    width: 400px;
}
#plandetails h2{
    margin-bottom: 20px;
    font-size: 28px;
}
#plandetails p{
    font-size: 16px;
    margin-bottom: 5px;
}
#plandetails h1{
    font-size: 36px;
}
#plandetails button{
    font-size: 14px;
    padding: 10px 18px  ;
    border: none;
    border-radius: 17px;
}
#plandetails button:last-of-type{
    background-color: transparent;
    color: white;
    border: solid 1px white;
}
#plandetails p>span{
    text-decoration: underline;
}
/* COUPON DIVISION STYLE STARYTS */
#coupondiv{
    display: flex;
    background-color: rgb(248,225,168);
    justify-content: center;
    align-items: center;
    height: 41px;
}
#coupondiv span{
    text-decoration: underline;
}


/* PLUS BENEFIT DIVISON STARTS HERE //////////////////*/
#plusbenefitfulldiv{
    text-align: center;
    background-color: white;
}
#plusbenefitfulldiv h3~p{
    margin-top: 5px;
    font-size: 18px;
}
#plusbenefitfulldiv h3{
    margin-bottom: 5px;
    font-size: 22px;
}
#plusbenefits{
    display: grid;
    grid-template-columns: repeat(3,300px);
    /* border: 1px solid red; */
    justify-content: space-around;
    text-align: left;
    height: 140;
}
#plusbenefits>div{
    display: flex;
    height: 140;
    margin: auto;
    gap: 10px;
    /* border: 1px solid red; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    margin-bottom: 10px;
}
#plusbenefits>div img{
    padding-right: 10px;
    width: 120px; height: 120px;
    border-radius: 10px 0px 0px 10px;
}
#plusbenefits>div h4{
    /* border: 1px solid green; */
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 16px;
}
#plusbenefits>div p{
    /* border: 1px solid blue; */
    font-size: 14px;
    margin-right: 0px;
}