/* HEADER STYLING */
body {
  background-color: rgb(227, 230, 227);
}
#top {
  display: flex;
  height: 48px;
  margin-top: 5px;
  background-color: #009270;
  justify-content: space-between;
  align-items: baseline;
}
#logo {
  padding: 10px 18px 0px 20px;
  cursor: pointer;
}
#container {
  max-width: 980px;
  margin: 0 auto;
  background-color: rgb(245, 245, 245);
}
#viewplanbtn {
  cursor: pointer;
  max-height: 44px;
  margin: auto;
  margin-right: 20px;
  border-radius: 22px;
  border: none;
  padding: 8px;
  padding-inline: 20px;
  color: grey;
  font-size: 14px;
}

/* BANNER STYLING STARTS HERE */
#planbanner {
  border: 1ps solid red;
  margin-top: 3px;
  height: 440px;
  background-image: linear-gradient(rgb(2, 165, 127), rgb(20, 203, 205));
  color: white;
  display: flex;
  justify-content: space-between;
}
#planbanner img {
  width: 401px;
  height: 301px;
  align-self: center;
  margin-right: 50px;
}
#plandetails {
  margin-top: 90px;
  margin-left: 45px;
  width: 400px;
}
#plandetails h2 {
  margin-bottom: 20px;
  font-size: 28px;
}
#plandetails p {
  font-size: 16px;
  margin-bottom: 5px;
}
#plandetails h1 {
  font-size: 36px;
}
#plandetails button {
  cursor: pointer;
  font-size: 14px;
  padding: 10px 18px;
  border: none;
  border-radius: 17px;
}
#plandetails button:last-of-type {
  cursor: pointer;
  background-color: transparent;
  color: white;
  border: solid 1px white;
}
#plandetails p > span {
  text-decoration: underline;
  cursor: pointer;
}
/* COUPON DIVISION STYLE STARYTS */
#coupondiv {
  display: flex;
  background-color: rgb(248, 225, 168);
  justify-content: center;
  align-items: center;
  height: 41px;
  margin-bottom: 0px;
}
#coupondiv span {
  text-decoration: underline;
  cursor: pointer;
}

/* PLUS BENEFIT DIVISON STARTS HERE //////////////////*/
#plusbenefitfulldiv {
  margin-top: 0px;
  margin-bottom: 0px;
  text-align: center;
  background-color: rgb(245, 245, 245);
}
#plusbenefitfulldiv h3 ~ p {
  margin-top: 5px;
  font-size: 18px;
}
#plusbenefitfulldiv h3 {
  margin-top: auto;
  padding-top: 20px;
  margin-bottom: 5px;
  font-size: 22px;
}
#plusbenefits {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* border: 1px solid red; */
  justify-content: space-around;
  text-align: left;
  height: 140;
}
#plusbenefits > div {
  display: flex;
  height: 140;
  margin: auto;
  gap: 10px;
  background-color: white;
  /* border: 1px solid red; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}
#plusbenefits > div img {
  padding-right: 10px;
  width: 120px;
  height: 120px;
  border-radius: 10px 0px 0px 10px;
}
#plusbenefits > div h4 {
  /* border: 1px solid green; */
  margin-top: 15px;
  margin-bottom: 5px;
  font-size: 16px;
}
#plusbenefits > div p {
  /* border: 1px solid blue; */
  font-size: 14px;
  margin-right: 0px;
}
#plusbenefitfulldiv > p:last-of-type {
  color: grey;
  padding-bottom: 15px;
}
/* SELECT YOUR PLAN BOX STYLING START HERE */
#selectYourPlan {
  background-color: rgb(245, 245, 245);
  margin-top: 0px;
  justify-content: center;
}
#selectYourPlan h3 {
  text-align: center;
  font-size: 20px;
  margin-top: 0px;
  padding: 20px 0px;
}
#selectYourPlan > div {
  display: grid;
  grid-template-columns: repeat(3, 295px);
  margin: auto;
  justify-content: space-around;
}
.planbox > div {
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  height: 100px;
  border-radius: 5px;
  padding: 5px;
  background-color: white;
}

.planbox label > div {
  cursor: pointer;
  margin-left: 10px;
  font-size: 14px;
  width: 230px;
  justify-content: space-between;
  display: flex;
}
.planbox > p {
  font-size: 14px;
  padding: 5px 15px;
  text-justify: distribute-all-lines;
}
#originalprice {
  text-decoration: line-through;
  /* border: 1px solid blue; */
}
#discounted {
  font-size: 22px;
  font-weight: bolder;
  /* border: 1px solid blue; */
}
#tandc {
  text-align: center;
  width: 50%;
  /* border: blue 1px solid; */
  justify-content: center;
  margin: auto;
}
#tandc > input {
  height: 14px;
  cursor: pointer;
  /* margin-right: 10px; */
  justify-content: center;
}
#agreetoTnC{
  cursor: pointer;
}
#tandc > label {
  /* border: 1px solid red; */
  font-size: 14px;
  width: max-content;
  /* margin-left: 10px; */
}
#paymentbutton {
  cursor: pointer;
  margin: auto;
  margin-left: 40%;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px 20px;
  background-color: rgb(0, 146, 112);
  color: white;
  border-radius: 1px;
  border: none;
}
@media screen and (max-width: 980px) {
  #plusbenefits {
    grid-template-columns: repeat(1, 300px);
  }
  #selectYourPlan > div {
    grid-template-columns: repeat(1, 295px);
  }
  #plandetails {
    margin-top: 5px;
    margin-left: 45px;
    min-width: 251px;
    width: 400px;
  }
  #planbanner#planbanner img {
    display: block;
  }
}
