*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{

    background: #E3E6E3;
    min-height: 100vh;
    font-family: helvetica,"Segoe UI",Arial,sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
#account_container{
    width: 980px;
    /* remove after */
    height: 538px;
    margin: auto;
    background-color: #fff;
    padding: 20px 50px 75px;
}
#user_accout_main{
    width: 880px;
    display: grid;
    grid-template-columns: 1fr 1fr;


}
#my_account{
    padding: 20px;
    padding-top: 60px;
    margin-right: 55px;
    
}
#mylist>div{
    padding: 10px 15px;
    border: 1px solid #bababa;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
i{
    margin-right: 5px;
}

.active{
    color: white;
    background-color:  #028062;

}
#side_div{

    padding: 20px;
    padding-top: 60px;
}
#line{
    width: 55%;
    border-bottom: 2px solid #bababa;
    float: right;

}
#line+div{
    margin-top: 30px;
}

img{
    width: 60px;
    margin: auto;
    border-radius: 50%;
    border: 2px solid black;
    display: block;
}

#profile-content>p{
color: blue;
text-align: center  ;
}
input[type="text"]
,input[type="email"]{
    width: 100%;
    display: block;
    padding: 5px 100px 5px 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid black;

    
}
button{
    text-align: center;
    padding: 10px 30px;
    border-radius: 4px;
    border: none;
    background-color: #1aa182;
    color: white;
    position: relative;
    left: 40%;
}
input:hover{

    border-color: rgb(53, 53, 237);
}

#div{
    border: 1px solid black;
    border-radius: 4px;
    text-align: center;
}
#Manage-subs{
    display: none;
}
#Redeem-coupons{
    display: none;
}